/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', 'Arial Narrow', Arial, sans-serif;
}

.container, .container-main{
    margin: 0 auto;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    width: 20%;
    border-top: 1px solid #aeaeae;
}

/* proprietà larghezza jumbotron e footer */

.container{
    width: 75%;
}

/* proprietà generali titoli principali e intestazioni */

.main-text {
    font-size: 55px;
    font-weight: 800;
}

.second-text{
    font-size: 35px;
    margin: 25px 0;
}

/* proprietà che regolano la spaziatura delle sezioni */

.layout-margin{
    margin-top: 30px;
}

.layout-padding{
    padding-top: 8%;
}

.enlarge{
    padding: 70px 0;
}

/* proprietà larghezza sezioni della parte centrale */

.container-main {
    width: 60%;
}

/* proprietà geneali bottoni */

button{
    border: transparent;
    cursor: pointer;
}

.btn-input{
    padding: 8px 16px;
}

.btn-input, .btn-large{
    color: white;
    background-color: #0061FF;
}

.btn-large{
    width: 100%;
}


/* regole box immagini jumbotron e nella sezione partners */

figure.image-box img {
    width: 100%;
}

/* regola flex oggetti */

.flex-object {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* regola generale colonne e immagini */

.box-text {
    max-width: 30%;
    /* height: 500px; */
    /* background-color: pink; */
}

div.box-text > p{
    margin-top: 20px;
}

.box-text span {
    display: block;
}

figure.image {
    max-width: 70%;
    /* height: 500px; */
    /* background-color: dodgerblue; */
}

/* HEADER */

/* barra di navigazione */

#navbar{
    height: 60px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey;
    position: fixed;
    top:0;
    left:0;
    z-index: 900;
}

.col-nav{
    display: flex;
    /* width: 50%; */
    /* height: 30px; */
    /* background-color: goldenrod; */
    margin: 8px;
}

.menu{
    display: flex;
    list-style-type: none;
    line-height: 40px;
}

.col-nav li{
    padding: 0 15px;
    text-align: center;
}

.col-nav li a {
    color:#666464;
    text-decoration: none;
    font-weight: 500;
    padding: 18px 0;
    font-size: 14px;
}


#logo img {
    width: 80%;
    margin-top: 10px;
}

/* proprietà jumbotron */

.content-row{
    /* padding-top: 60px; */
    background-color: #B4D0E7;

}

.btn-margin{
    margin: 40px 0;
}

i.fa-arrow-down {
    font-size: 50px;
    font-weight: 800;
    margin-top: 40%;
}

/* PARTE CENTRALE - MAIN */

/* sezione con piano business */

#checkbox {
    display: flex;
    align-items: center;
    padding: 35px 0;
}
/* parte checkbox */

#checkbox > .text{
    padding: 0 10px;
}

#checkbox > .circle {
    padding: 0 5px;
}

.circle{
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-block;
}

#selected{
    border: 4px solid #0061FF;
}

#unselected {
    border: 2px solid #9d9d9d;
}

.text{
    font-size: 14px;
}

.flex-container{
    display: flex;
    align-items: center;
}

.flex-card{
    display: flex;
    justify-content: stretch;
    gap: 35px;
}

.row-col{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: calc(100% / 3);
    border: 1px solid #aeaeae;

}

.card-title{
    border-bottom: 1px dashed red;
    text-align: center;
    padding: 10px 0;
}

.card-content{
    padding: 20px;
}

.enlarge-item{
    padding: 5px 0;
}

.list-business li, .advantage-list li{
    padding: 10px 0;
}

.list-business, .advantage-list, .buy-onclick{
    padding: 30px 0;
}

.card-content ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.price{
    font-weight: bold;
}

.per-month{
    color: grey;
}

.fa-ul{
    margin-left: var(--fa-li-margin, 1.5em);
}

.fa-check{
    color: #0061FF;
}

.card-enterprise{
    display: flex;
    /* height: 200px; */
    width: 100%;
    background-color: pink;
    border: 1px red dashed;
}


#info{
    width: 80%;
}

#contact{
    width: 20%;
}

/* sezione partners */

/* sezione con cards e info */

.card-info{
    display: flex;
    background-color: green;
    border: 1px dashed rgb(255, 255, 255);
    width: calc(100% / 3);
    height: 300px;
}

/* sezione sponsor */

.col{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    height: 500px;
    background-color: yellow;
    border: 1px dashed black;
}

.square{
    width: calc(100% / 2);
    height: calc(100% / 2);
    position: relative;
    background-color: rosybrown;
    border: 1px dashed rgb(30, 129, 136);
}

.square img{
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%)
}

/* sezione domande frequenti */

.center-container{
    padding: 8% 0;
}

/* accordion */
.row{
    display: flex;
    padding: 30px 0;
    width: 100%;
}

.border-top{
    border-top: 1px solid grey;
}

.border-bottom{
    border-bottom: 1px solid grey;
}

.row i{
    align-items: center;
}

/* FOOTER */

footer{
    background-color: black;
    /* height: 500px; */
    width: 100%;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

#footernav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 6% 0;
}

.col-footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* height: 200px; */
    /* width: calc(100% / 5); */
    /* padding: 0 40px 0 0; */
    /* background-color: aqua; */
    /* border: 1px red dashed; */
}

ul.menu-footer li{
    padding: 10px 0;
}

.menu-footer{
    list-style-type: none;
}

.col-footer ul li {
    display: flex;
}

/* regole selettore lingua */

#lang{
    border-top: 1px solid grey;
    padding: 40px 0;
    width: 10%;
    color: grey;
}