/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', 'Arial Narrow', Arial, sans-serif;
}

.container, .container-main{
    margin: 0 auto;
    padding: 40px 0;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* proprietà larghezza jumbotron e footer */

.container{
    width: 75%;
}

/* proprietà larghezza sezioni della parte centrale */

.container-main {
    width: 60%;
}

/* proprietà geneale bottoni */

button{
    padding: 8px 10px;
}

/* regola flex oggetti */

.flex-object {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* HEADER */

/* barra di navigazione */

#navbar{
    height: 60px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey;
    position: fixed;
    top:0;
    left:0;
}

.col-nav{
    display: flex;
    /* width: 50%; */
    /* height: 30px; */
    /* background-color: goldenrod; */
    margin: 10px;
}

.menu{
    display: flex;
    list-style-type: none;
    line-height: 40px;
}

.col-nav li{
    padding: 0 30px;
    text-align: center;
}

#logo img {
    width: 80%;
    margin-top: 10px;
}

/* proprietà jumbotron */


.content-row{
    /* height: 500px; */
    padding-top: 60px;
    background-color: #B4D0E7;

}

.box-text{
    width: 30%;
    height: 300px;
    background-color: pink;
}

.box-text span{
    display: block;
}

figure.image{
    width: 70%;
    height: 300px;
    background-color: dodgerblue;
}

.btn-input{
    margin: 40px 0;
}

/* PARTE CENTRALE - MAIN */

/* sezione con piano business */

.content, .title, #checkbox{
    padding: 20px 0;
}

.flex-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    height: 800px;
    width: calc(100% / 3);
    background-color: pink;
    border: 1px dashed red;
}

.card-content{
    padding: 20px;
}

.list-business ul{
    list-style-type: none;
}

.advantage-list ul{
    list-style-type:decimal;
}

#card-enterprise{
    display: flex;
    height: 200px;
    width: 100%;
    background-color: pink
}

#info{
    width: 80%;
}

#contact{
    width: 20%;
}

/* sezione con cards e info */

.card-info{
    display: flex;
    background-color: green;
    border: 1px dashed rgb(255, 255, 255);
    width: calc(100% / 3);
    height: 300px;
}

/* FOOTER */

footer{
    background-color: black;
    /* height: 500px; */
    width: 100%;
}

#footernav{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.col-footer{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: calc(100% / 5);
    background-color: aqua;
    border: 1px red dashed;
    margin-top: 20px;
}

.menu-footer{
    list-style-type: none;
}

/* regole selettore lingua */

#lang{
    Background-color: gold;
    padding: 40px 0;
    width: 10%;
    
}