/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Arial Narrow', Arial, sans-serif;
}

.container,
.container-main {
    margin: 0 auto;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 20%;
    border-top: 1px solid #aeaeae;
    margin: 20px 0;
}

/* proprietà larghezza jumbotron e footer */

.container {
    width: 75%;
}

/* proprietà che regolano la spaziatura delle sezioni e dei testi */

.layout-margin {
    margin-top: 30px;
}

.layout-padding {
    padding-top: 8%;
}

.layout-text {
    padding-top: 40px;
}

.enlarge {
    padding: 60px 0;
}

.enlarge-item {
    padding: 5px 0;
}

/* proprietà larghezza sezioni della parte centrale */

.container-main {
    width: 60%;
}

/* proprietà geneali bottoni */

button {
    border: transparent;
    cursor: pointer;
}

.btn-input {
    padding: 8px 16px;
}

.btn-big{
    padding: 20px 36px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
}

.btn-enter {
    color: white;
    background-color: #0061FF;
}

.btn-large {
    width: 100%;
}

#btn-margin{
    margin: 60px 0;
}

/* regola flex oggetti */

.flex-object {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* regola generale colonne e immagine jumbotron */

#box-text-jumbo,
#text-jumbo {
    margin-top: 10px;
}

#box-text-jumbo {
    max-width: 30%;
}

#box-text-jumbo span {
    display: block;
}

#image-jumbo {
    max-width: 70%;
}

#image-jumbo img {
    width: 100%;
}

#navbar {
    height: 60px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

.col-nav {
    display: flex;
}

.menu {
    display: flex;
    list-style-type: none;
    line-height: 55px;
    height: 60px;
}

.col-nav li {
    padding: 0 15px;
}

.col-nav li a {
    color: #666464;
    text-decoration: none;
    font-weight: 500;
    padding: 18px 0;
    font-size: 14px;
}

#logo img {
    width: 70%;
    padding: 20px;
}

#logo a {
    padding-left: 15px;
}

/* parte del jumbotron enterprise */

/* prima sezione */
.section-light{
    background-color: #F7F5F2;
    padding: 60px 0;
}

.main-title {
    font-size: 45px;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#box-text-jumbo h4{
    margin: 10px 0;
}

/* seconda sezione */

.section-dark{
    background-color: #1E1919;
    color: white;
    padding: 60px 0;
}

.title{
    font-size: 30px;
    text-align:center;
    margin: 20px 0
}

.container-text{
    margin: 20px 50px;
    text-align: center;
}

#flex-card{
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
    gap:40px;
}

.card{
    width: calc(100% / 4);
}

.card img{
    width: 100%;
}

.dark-paragraph, .link{
    text-align: center;
    margin: 20px 0;
}

.dark-paragraph{
    font-size: 16px;
}

.link{
    font-size: 20px;
}

#dark-link a{
    color: white;
}

.link i{
    padding: 0 10px;
}

.box-card h3, .box-card p, .box-text h3, .box-text p{
    margin: 20px 0;
}

/* sezione caratteristiche */

.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-text{
    min-width: 40%;
    padding: 40px;
}

.box-image{
    min-width: 60%;
}

.box-image img{
    width: 100%;
}

#btn-contact{
    border: 2px solid black;
    background-color: transparent;
}

/* dimensioni icone nelle cards */

.box-card i{
    font-size: 65px;
}

/* FOOTER */

footer {
    background-color: black;
    width: 100%;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

#footernav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 6% 0;
}

.col-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul.menu-footer li {
    padding: 10px 0;
}

.menu-footer {
    list-style-type: none;
}

.col-footer ul li {
    display: flex;
}

/* regole selettore lingua */

#lang {
    border-top: 1px solid grey;
    padding: 40px 0;
    width: 10%;
    color: grey;
}

#lang .fa-chevron-up {
    font-size: 8px;
}