/* regole funzioni hover */

/* hover nella barra di navigazione in alto */

.navbar-hover:hover {
    border-bottom: black 3.5px solid;
}

/* dropdown menu */

.dropdown-menu{
    position: relative;
    font-size: 14px;
    color: #666464;
}

#dropdown-content{
    position: absolute;
    padding: 10px 0;
    background-color: rgb(233, 233, 233);
    min-width: 180px;
    display: none;
}

#dropdown-content ul li{
    list-style-type: none;
    padding: 0;
}

#dropdown-content a{
    display: block;
    padding: 0px 12px;
}

.dropdown-menu:hover #dropdown-content{
    display:block;
}

#dropdown-content a:hover{
    display: block;
    color: black;
    width: 100%;
    background-color: rgb(183, 183, 183);
}

/* scroll graduale quando si passa alla sezione delle offerte */

html{
    scroll-behavior: smooth;
}

a .fa-arrow-down{
    color: black;
    cursor: pointer;
}

/* hover per bottoni blu */

.btn-enter:hover{
    opacity: 0.8;
}

/* hover per bottoni prova gratuita e partners */

#btn-partner:hover, #btn-contact:hover{
    background-color: black;
    color: white;
}

#btn-gratis:hover{
    background-color: #0061FF;
    color: white;
} 

/* hover su riquadri sponsor */

.square:hover{
    border: 10px solid #D1E9CD;
}

/* hover accordion nella home */

.accordion-text{
    display:none;
    padding: 15px 0;
    font-size: 14px;
}

.row:hover + .accordion-text{
    display:block;
}

/* icona chevron down dell'accordion che cambia con hover nella pagina home */

.row:hover .fa-chevron-down:before {
    content: '\f077';
}

/* hover nelle voci del footer */

footer a:hover {
    text-decoration: underline;
}