/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', 'Arial Narrow', Arial, sans-serif;
}

.container, .container-main{
    margin: 0 auto;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    width: 20%;
    border-top: 1px solid #aeaeae;
    margin: 20px 0;
}

/* proprietà larghezza jumbotron e footer */

.container{
    width: 75%;
}

/* proprietà generali titoli principali e intestazioni */

.main-text {
    font-size: 55px;
    font-weight: 800;
}

.second-text{
    font-size: 35px;
    margin-bottom: 35px;
}

/* proprietà che regolano la spaziatura delle sezioni e dei testi */

.layout-margin{
    margin-top: 30px;
}

.layout-padding{
    padding-top: 8%;
}

.layout-text{
    padding-top: 40px;
}

.enlarge{
    padding: 70px 0;
}

.enlarge-item {
    padding: 5px 0;
}

/* proprietà larghezza sezioni della parte centrale */

.container-main {
    width: 60%;
}

/* proprietà geneali bottoni */

button{
    border: transparent;
    cursor: pointer;
}

.btn-input{
    padding: 8px 16px;
}

.btn-enter{
    color: white;
    background-color: #0061FF;
}

.btn-large{
    width: 100%;
}

/* regola flex oggetti */

.flex-object {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* regola generale colonne e immagine jumbotron */

#box-text-jumbo, #text-jumbo{
    margin-top: 10px;
}

#box-text-jumbo {
    max-width: 30%;
}

#box-text-jumbo span {
    display: block;
}

#image-jumbo {
    min-width: 70%;
    min-height: 300px;
    transform: translate(-10px, 70px);
    margin-top: -30px;
}

#image-jumbo img{
    width: 100%;
}


/* HEADER */

/* barra di navigazione */

#navbar{
    height: 60px;
    width: 1525px;
    background-color: white;
    border-bottom: 1px solid grey;
    position: fixed;
    top:0;
    left:0;
    z-index: 900;
}

.col-nav{
    display: flex;
    margin: 8px;
}

.menu{
    display: flex;
    list-style-type: none;
    line-height: 40px;
}

.col-nav li{
    padding: 0 15px;
}

.col-nav li a {
    color:#666464;
    text-decoration: none;
    font-weight: 500;
    padding: 18px 0;
    font-size: 14px;
}

#logo img {
    width: 80%;
    margin-top: 10px;
}

#logo a{
    padding-left: 15px;
}

/* proprietà jumbotron */

.content-row{
    background-color: #B4D0E7;

}

.btn-margin{
    margin: 40px 0;
}

i.fa-arrow-down {
    font-size: 50px;
    font-weight: 800;
    margin-top: 20%;
}

/* PARTE CENTRALE - MAIN */

/* sezione con piano business */

#checkbox {
    display: flex;
    align-items: center;
    padding: 35px 0;
}
/* parte checkbox */

#checkbox > span.text{
    padding: 0 10px;
}

#checkbox > span.circle {
    padding: 0 5px;
}

.circle{
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-block;
}

#selected{
    border: 4px solid #0061FF;
}

#unselected {
    border: 2px solid #9d9d9d;
}

/* parte offerte business */

.text{
    font-size: 14px;
}

.flex-container{
    display: flex;
    align-items: center;
}

.flex-card{
    display: flex;
    justify-content: space-between;
}

/* regole cards delle offerte */

.card{
    width: calc(100% / 3 - 20px);
}

.card, .card-enterprise{
    border: 1px solid #aeaeae;
}

.card-title{
    border-bottom: 1px solid #aeaeae;
    text-align: center;
    padding: 10px 0;
}

.card-content{
    padding: 20px;
    margin-bottom: 50px;
}

/* prorpietà delle liste che elencano descrizioni e vantaggi delle offerte */

.list-business li, .advantage-list li{
    padding: 10px 0;
}

.list-business, .advantage-list, .buy-onclick{
    padding: 30px 0;
}

.card-content ul{
    list-style-type: none;
}

.price{
    font-weight: bold;
}

.per-month{
    color: grey;
}

.fa-ul{
    margin-left: var(--fa-li-margin, 1.5em);
}

.fa-check{
    color: #0061FF;
}

/* card offerta enterprise */

#flex-card-enterprise{
    display: flex;
    justify-content: space-between;
}

#info{
    width: 70%;
}

#contact{
    width: 30%;
}

/* sezione partners */

#text-partners{
    max-width: 40%;
    padding: 0 0 0 40px;
}

#btn-partner{
    background-color: transparent;
    border: 2px solid #000000;
    font-size: 15px;

}

#image-partners{
    max-width: 60%;
}

#image-partners img{
    width: 100%;
}

#discover{
    margin: 40px 0;
}

/* sezione con cards e info */

.row-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card-info{
    width: calc(100% / 3 - 30px);
    padding-bottom: 15px;
}

div.card-info > p {
    margin: 20px 0;
}

.mini-box{
    width: 100%;
}

.mini-box img{
    width: 100%;
}

/* sezione sponsor */

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.col {
    display: flex;
    flex-wrap: wrap;
    height: 30vw;
}

#shrink{
    overflow:auto;
    flex-shrink: 0;
    background-color: #F5F5F5;
}

.square{
    height: calc(100% / 2);
    width: calc(100% / 2);
    position: relative;
}

.square img{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
    filter: contrast(0) brightness(3);
}

/* colori background loghi sponsor */

#designit{
    background-color: #A2D39B;
}

#asu {
    background-color: #61082B;
}

#florida{
    background-color: #0093CE;
}

#topps {
    background-color: #FF1C1C;
}

#bicycle{
    background-color: #D5001F;
}

#heart{
    background-color: #B4D0E7;
}

#hearst{
    background-color: #B4D0E7;
}

#channel{
    background-color: #FFD830;
}

#lonely{
    background-color: #0D2481;
}

/* box informativo dello sponsor */

#info-sponsor{
    margin: 30px;
    font-size: 13px;
}

#info-sponsor img{
    width: 50%;
    padding: 20px 0;
}

#quote{
    margin: 40px 0;
}

/* sezione dropbox business */

#text-business{
    color: #61082B;
}

#btn-gratis{
    background-color: white;
    font-size: 15px;
}

/* sezione domande frequenti */

.center-container{
    padding: 8% 0;
}

.fa-chevron-down{
    font-size: 13px;
    padding: 0 25px;
}

/* accordion */
.row{
    display: flex;
    padding: 30px 0;
    width: 100%;
}

.border-top{
    border-top: 1px solid grey;
}

.border-bottom{
    border-bottom: 1px solid grey;
}

.row i{
    align-items: center;
}

/* FOOTER */

footer{
    background-color: black;
    /* height: 500px; */
    width: 100%;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

#footernav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 6% 0;
}

.col-footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul.menu-footer li{
    padding: 10px 0;
}

.menu-footer{
    list-style-type: none;
}

.col-footer ul li {
    display: flex;
}

/* regole selettore lingua */

#lang{
    border-top: 1px solid grey;
    padding: 40px 0;
    width: 10%;
    color: grey;
}

#lang .fa-chevron-up{
    font-size: 8px;
}